body {
  font-family: sans-serif;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

a {
  color: azure;
}

p {
  font-size: 12px;
}

#results {
  margin-top: 20px;
  width: 52rem;
}

#results.grid {
  display: flex;
  flex-wrap: wrap;
}

#guildInfo {
  width: 16rem;
  background-color: rgba(127, 127, 127, 0.5);
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
  position: sticky; /* Change position to sticky */
  top: 20px; /* Adjust top position according to your preference */
  z-index: 1; /* Ensure it appears above other elements */
}

#guildInfoContent {
  width: 16rem;
  background-color: rgba(25, 25, 25, 0.66);
  border-radius: 2rem;
  padding: 1rem;
  margin: -1rem;
  
  overflow-y: auto;
  position: fixed; /* Keep the content fixed relative to the viewport */
}

#Search {
}

#Background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  filter: blur(10px);
  z-index: -2;
  max-height: calc(100vh);
  overflow-y: auto;
  position: fixed;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black */
    z-index: -1; /* Ensure it appears above the background image */
    max-height: calc(100vh);
    overflow-y: auto;
    position: fixed;
}

.container-guild {
  display: flex;
}

.user {
  width: 48rem;
  margin-top: 1rem;
  padding: 6px;
  background-color: rgba(127, 127, 127, 0.33);
  border-radius: 1rem;
}

.user.grid {
  width: 12rem;
}

.user-info-basic {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(75, 75, 75, 0.75);
  border-radius: 16px;
}

.user-info-basic.grid {
  flex-direction: column;
}

.user-name {
  margin: 10px;
  font-size: 32px;
}

.user-name.grid {
  font-size: 24px;
}

.user-pfp {
  width: 6rem;
  border-radius: 1rem;
}

.user-pfp.grid {
  width: 12rem;
  border-radius: 2rem;
}

.user-score {
  margin-bottom: -16px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.user-status {
  width: 10px;
  height: 10px;
  background-color: red;
  position: relative;
  left: -5.6rem;
  top: -2.3rem;
  border-radius: 1rem;
}

.box-shadow {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.66); /* Horizontal offset, vertical offset, blur radius, color */
}

.gone {
    display: none;
}


/* Style for the buttons */
.option {
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
}

.option.active {
  background-color: #333;
  color: #fff;
}

.guild-desc {
  font-size: 8px;
  display: inline-block;
  line-height: 10px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.Search {
  max-width: 32rem;
  max-height: 220px;
  overflow-y: auto;
  margin: 10px;
  padding: 2rem;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 2rem;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  p {
    margin: 0;
  }

  .container-guild {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .user {
    width: 90%;
    margin: 0 auto 1rem;
  }

  #results {
    width: 100%;
  }

  #guildInfo {
    width: fit-content;
    position: initial;
    padding: 0;
    width: 90%;
  }

  #guildInfoContent {
    position: initial;
    margin: 1rem;
    width: 82%;
  }

  .overlay {
    z-index: -1;
  }

  .Search {
    max-width: 90%;
    padding: 1rem;
  }

  .user.grid {
    width: 6rem;
    height: 8rem;
    overflow-y: hidden;
  }

  .user-name {
    font-size: 22px;
  }

  .user-info-basic {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .user-info-basic.grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .user-info-basic.grid .user-name {
    margin: 0;
    font-size: 13px;
  }

  .user-pfp {
    width: 80px;
  }

  .user-pfp.grid {
    width: 5.75rem;
  }

  .user-score {
    justify-content: center;
    margin-bottom: 0;
  }

  .user-status {
    display: none;
  }

  .box-shadow {
    box-shadow: none;
  }

  .option {
    margin-right: 0;
    margin-bottom: 8px;
    width: calc(33.33% - 8px);
  }

  .option:nth-child(3n) {
    margin-right: 0;
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
}
